# Environment variables
.env

# Virtual environments
venv/
.venv/
water_intake_tracker/

# Database
*.db

# Logs
*.log

# Python cache
__pycache__/
*.pyc

# Docker leftovers (optional)
*.pid

# IDE
.vscode/
.idea/
