# Virtual environments
water_intake_tracker/
venv/
env/

# Environment variables
.env

# Database files
*.db

# Logs
*.log

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
